# Tuples

In [1]:
# Create , Access , Add , Delete , Edit , Operations , Functions

In [2]:
t = ()

In [3]:
type(t)

tuple

In [4]:
t = (1,2,3,4,5)

In [5]:
ht = ("OMkar",34,56.6)

In [6]:
ht

('OMkar', 34, 56.6)

In [7]:
t = (1,2,(3,4))

In [8]:
t = (8)

In [9]:
type(t)

int

In [10]:
t = (5,)

In [11]:
type(t)

tuple

In [12]:
l = (1,2,3,4)

In [13]:
l[0] =100

TypeError: 'tuple' object does not support item assignment

In [14]:
#tuples and Strings are immutable

In [15]:
# Deleting tuple

In [16]:
del t

In [18]:
del ht-1

SyntaxError: cannot delete operator (temp/ipykernel_832/440066368.py, line 1)

In [23]:
# tuples are read only Datatypes

In [16]:
t = (1,2,3,4,5,6,(5,6))

In [4]:
t[6][0]

5

In [5]:
t+t

(1, 2, 3, 4, 5, 6, (5, 6), 1, 2, 3, 4, 5, 6, (5, 6))

In [6]:
for i in t:
    print(i)

1
2
3
4
5
6
(5, 6)

In [7]:
# functions

In [8]:
t[0]

1

In [9]:
len(t)

7

In [10]:
min(t)

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [11]:
max(t)

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [12]:
type(t)

tuple

In [13]:
count(t)

NameError: name 'count' is not defined

In [17]:
sorted(t.reverse="True")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (temp/ipykernel_18444/363251333.py, line 1)

In [20]:
t.count(1)

1

In [21]:
t.index(3)

2

In [22]:
t[0]

1